* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
ul,
summary {
  list-style: none;
}
header{
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 30px 16px;
}
h1{
  font-size: 72px;
  line-height: 72px;
}
h2 {
  font-size: 56px;
  line-height: 64px;
}
footer {
  background: url(./img/bg-footer.png) center/cover no-repeat;
  padding: 135px 15px 74px;
}
:root {
  --white-color: #ffffff;
  --gray-color: #333333;
  --pink-color: #c86dd7;
  --yellow-color: #ffc300;
  --blue-color: #3023ae;
  --black-color: #000000;
  --padding: 16px;
}
.source-font {
  font-family: "Source Sans Pro", sans-serif;
}
.container {
  max-width: calc(1170px + (var(--padding) * 2));
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.margin-center {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-gray {
  color: var(--gray-color);
}
.text-white {
  color: var(--white-color);
}
.font-bold {
  font-weight: 700;
}
.text-uppercase {
  text-transform: uppercase;
}
.cursor-pointer {
  cursor: pointer;
}
.font-semi-bold,
.active{
  font-weight: 600;
}
.d-block {
  display: block;
}
.display-hidden{
  display: none;
}
.opacity-0,
.display {
  opacity: 0.5;
}
.button {
  padding: 12px 55px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  border-radius: 24px;
  color: var(--white-color);
}
.button-header, .yellow-button:hover  {
  border: solid 2px var(--white-color);
  background-color: transparent;
}
.yellow-button, .pink-button:hover, .button-header:hover {
  background-color: var(--yellow-color);
  border: solid 2px var(--yellow-color);
}
.pink-button {
  background-color: var(--pink-color);
  border: solid 2px var(--pink-color);
}
.link {
  width: fit-content;
}
.link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0px;
  height: 2px;
  background-color: var(--pink-color);
  transition: all 0.45s;
}
.link:hover:after {
  width: 100%;
  left: 0;
}
.icon {
  width: 32px;
  height: 32px;
  padding: 20px;
  border-radius: 50%;
}
.icon:hover {
  color: var(--blue-color);
  border: var(--blue-color) solid 4px;
}
.logo{
  font-size: 40px;
}
.list{
  width: 450px;
}
.hero{
  height: 768px;
  background-image: linear-gradient(225deg, var(--blue-color) -1%, var(--pink-color) 100.5%);
}
.hero-container{
  height: 100%;
  padding: 228px  16px 33px;
  flex-direction: column;
}
.hero-content{ 
  max-width: 370px;
  justify-self: center;
}
.hero-paragraph{
  margin: 26px 0 34px;
}
.social-media-icons{
align-self: flex-end;
}
.icon-hero {
  color: var(--white-color);
  border: var(--white-color) solid 4px;
}
.corporis {
padding: 96px 16px;
gap: 100px;
}
.corporis-content {
  max-width: 490px;
}
.corporis-title {
  margin: 18px 0 55px;
}
.details {
  max-width: 470px;
  margin: 24px 0;
}
.summary {
  width: fit-content;
}
.summary::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 0px;
  height: 2px;
  background-color: var(--pink-color);
  transition: all 0.45s;
}
.details[open] > .summary:before {
  width: 100%;
  left: 0;
}
.summary::after {
  padding-bottom: 5px;
  margin-left: 10px;
  content: url(./img/arrow.png);
  transition: 0.2s;
  transform: rotate(-180deg);
  display: inline-block;
  transition: 0.2s;
}
.details[open] > .summary::after {
  transform: rotate(0deg);
}
.details-paragraph {
  padding: 8px 0;
}
.corporis-video {
  max-width: 570px;
  max-height: 544px;
  border-radius: 3px 0px 0px 3px;
  background-image: linear-gradient(225deg,var(--blue-color) -1%,var(--pink-color) 100.5%);
}
.corporis-video-poster:hover {
  transform: translate(30px, -32px);
}
.play-button {
  border: none;
  position: absolute;
  width: 116px;
  height: 116px;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--white-color);
  box-shadow: (16px 16px 48px #0000001a);
  font-size: 25px;
  color: var(--pink-color);
}
.ullam {
  background-color: #fdf2ff;
}
.ullam-container {
  padding: 70px 16px;
}
.ullam-content {
  align-items: flex-end;
  gap: 15px;
}
.ullam-title-container {
  max-width: 430px;
}
.ullam-paragraph {
  max-width: 570px;
}
.ullam-nav-button {
  gap: 20px;
  margin: 55px 0 40px;
}
.ullam-button {
  background-color: transparent;
  border: transparent;
}
.ullam-button:focus{
  font-weight: 600;
  opacity: 1;
}
.ullam-image-group {
  gap: 25px;
  margin: 40px 0 50px;
}
.ullam-image {
  border-radius: 3px;
  max-width: 370px;
  height: 272px;
  background-color: #310039;
}
.ullam-image-content {
  left: 35px;
  bottom: 25px;
}
.ullam-image-content {
  display: none;
}
.ullam-image img:hover {
  opacity: 0.6;
}
.ullam-image img:hover + .ullam-image-content {
  display: block;
}
.fugiat {
  padding: 83px var(--padding);
}
.fugiat-paragraph {
  max-width: 570px;
  margin: 23px auto 32px;
}
.card-wrapper {
  gap: 25px;
}
.card {
  max-width: 370px;
  padding: 32px 25px;
  border-radius: 3px;
  background-color: var(--white-color);
  box-shadow: 16px 16px 48px 0px #0000001a;
  transition: scale 0.7s;
}
.card:hover {
  scale: 1.05;
  box-shadow: 0px 15px 20px 10px #00000024;
}
.card-title {
  width: fit-content;
  font-size: 24px;
}
.card-title::before {
  display: block;
  margin-bottom: 10px;
}
.card-title-one::before {
  content: url(./img/icon-card-one.svg);
}
.card-title-two::before {
  content: url(./img/icon-card-two.svg);
}
.card-title-three::before {
  content: url(./img/icon-card-three.svg);
}
.card-title-four::before {
  content: url(./img/icon-card-four.svg);
}
.card-title-five::before {
  content: url(./img/icon-card-five.svg);
}
.card-title-six::before {
  content: url(./img/icon-card-six.svg);
}
.card-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 3px;
  width: 0px;
  height: 3px;
  background-color: var(--pink-color);
  transition: all 0.45s;
}
.card:hover .card-title::after {
  width: 100%;
  left: 0;
}
.tempribus {
  background-color: var(--blue-color);
}
.tempribus-container {
  max-width: 1440px;
}
.tempribus-content-container {
  padding: 152px 16px;
  gap: 50px 230px;
  overflow-y: hidden;
}
.temporibus-image-group {
  max-width: 370px;
  max-height: 370px;
}
.image-group-background {
  opacity: 0.3;
}
.image-person-one {
  max-width: 170px;
  height: 170px;
  top: -16px;
  left: -31px;
}
.image-person-two {
  max-width: 114px;
  height: 114px;
  border-radius: 50%;
  top: 40px;
  right: -30px;
}
.image-person-three {
  max-width: 114px;
  height: 114px;
  bottom: 41px;
  left: 0;
}
.image-person-four {
  max-width: 50px;
  height: 50px;
  right: -18px;
  bottom: 98px;
}
.image-person-five {
  max-width: 82px;
  height: 82px;
  right: 70px;
  bottom: -10px;
}
.temporibus-content {
  max-width: 470px;
  z-index: 1;
}
.temporibus-span {
  margin-bottom: 18px;
}
.temporibus-paragraph {
  margin: 23px 0 32px;
}
.temporibus-bubble-bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  height: 50px;
  width: 140px;
}
.temporibus-bubble-left {
  left: -119px;
  bottom: 0px;
  height: 150px;
  overflow: hidden;
}
.temporibus-bubble-top {
  top: 0px;
  left: 50%;
  z-index: 5;
}
.officis {
  padding: 71px 16px;
}
.officis-paragraph {
  max-width: 570px;
  margin: 23px auto 64px;
}
.quote-card-wrapper {
  gap: 20px;
}
.quote-card {
  max-width: 370px;
  padding: 40px 30px;
  border-radius: 3px;
  background-color: var(--white-color);
  box-shadow: 16px 16px 48px 0px #0000001a;
}
.quote {
  margin-bottom: 16px;
}
.quote::before {
  display: block;
  margin-bottom: 14px;
}
.quote-one::before {
  content: url(./img/quote-one.png);
}
.quote-two::before {
  content: url(./img/quote-two.png);
}
.quote-three::before {
  content: url(./img/quote-three.png);
}
.partners-wrapper {
  gap: 30px 80px;
  margin-top: 102px;
}
.omnis {
  background-color: #fdf2ff;
}
.omnis-container {
  gap: 100px;
  padding: 116px 16px;
  overflow-x: hidden;
}
.omnis-content {
  max-width: 466px;
  padding-top: 29px;
}
.omnis-span {
  margin-bottom: 18px;
}
.omnis-paragraph {
  margin: 23px 0 32px;
}
.omnis-image-container {
  max-width: 570px;
  max-height: 544px;
  border-radius: 3px;
  background-image: linear-gradient(225deg,var(--blue-color) -1%,var(--pink-color) 100.5%);
}
.omnis-image {
  width: 570px;
  height: 544px;
  background: url(./img/omnis-image-bg.png) center/cover;
}
.omnis-image:hover {
  transform: translate(30px, -32px);
}
.image-content {
  max-width: 474px;
  left: 48px;
  bottom: 46px;
}
.image-content-paragraph {
  margin: 9px 0 16px;
}
.profile-image {
  gap: 20px;
}
.main-footer {
  padding-bottom: 150px;
  border-bottom: #33333342 solid 1px;
}
.main-footer-paragraph {
  max-width: 700px;
  margin: 23px auto 32px;
}
.email-form {
  gap: 30px;
}
.email-input {
  padding: 12px 16px;
  width: 370px;
  border-radius: 3px;
  border: 1px solid #dadada;
  background-color: var(--white-color);
  outline: none;
}
.email-input::placeholder {
  color: var(--gray-color);
  opacity: 0.5;
}
.base-footer {
  max-width: 1440px;
  padding-top: 61px;
  gap: 35px 200px;
  align-items: flex-end;
}
.icon-footer {
  color: var(--pink-color);
  border: var(--pink-color) solid 4px;
}
.quick-link {
  margin: 8px 0;
}
.social-media-icons {
  margin-bottom: 10px;
  gap: 15px;
}
@media only screen and (max-width: 1190px){
    .corporis-content, .details, 
  .ullam-title-container, .ullam-paragraph,
  .temporibus-content, .omnis-content {
    min-width: 100%;
  }
  .play-button {
    width: 95px;
    height: 95px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
  }
}
@media only screen and (max-width: 1024px){
  .social-media-icons {
    justify-content: center;
  }
}
@media only screen and (max-width: 840px){
  header{
    width: 100%;
    padding: 16px;
    background-color: var(--white-color);
  }
  h2{
    font-size: 49px;
  }
  .logo{
    color: var(--gray-color);
    font-size: 24px;
  }
  .nav, .button-header{
    display: none;
  }
  .burger-nav{
    display: block;
    color: var(--pink-color);
    background-color: transparent;
    border: none;
    font-size: 25px;
  }
  .burger-nav-checkbox:checked + .burger-nav-list{
    display: block;
  }
  .burger-nav-list{
    top: 70px;
    left: 0;    
    width: 100%;
  }
  .burger-nav-list-link{
    border-top: var(--pink-color) solid;
    border-bottom: var(--pink-color) solid;
    background-color: var(--white-color);
  }
  .burger-nav-list-link li{
    width: 100%;
    padding: 16px 70px;
    text-align: center;
  }
  .burger-nav-list-link a{
    font-size: 25px;
  }
  .button-burger{
    display: block;
    color: var(--gray-color);
    font-size: 25px;
    font-weight: 600;
    border:2px solid #0000004d;
    padding: 16px;
  }
  .burger-nav-list-link a:hover{
  font-weight: 700;
  }
  .button-burger:hover{
    background-color: var(--pink-color);
    border: solid 2px var(--pink-color);
    color: var(--white-color);
  }
} 
@media only screen and (max-width: 480px){
  h1{
    font-size: 56px;
    line-height: 64px;
  }
  h2{
    font-size: 40px;
    line-height: 48px;
  }
  .hero-container{
    padding-top: 150px;
  }
  .hero-content{
    max-width: 100%;
  }
  .social-media-icons{
    padding-right: 16px;
  }
  .play-button {
    width: 58px;
    height: 58px;
    font-size: 18px;
  }
  .temporibus-image-group{
    margin: 0 16px;
  }
  .image-person-one {
    max-width: 135px;
    height: 135px;
    top: -13px;
    left: 5px;
  }
  .image-person-two {
    max-width: 90px;
    height: 90px;
    border-radius: 50%;
    top: 33px;
    right: -15px;
  }
  .image-person-three {
    max-width: 92px;
    height: 92px;
    bottom: 34px;
    left: 0;
  }
  .image-person-four {
    max-width: 40px;
    height: 40px;
    right: -8px;
    bottom: 80px;
  }
  .image-person-five {
    max-width: 65px;
    height: 65px;
    right: 55px;
    bottom: -8px;
  }
  .temporibus-bubble-bottom {
    left: 305px;
  }
  .temporibus-bubble-top {
    top: -25px;
  }
  .omnis-image-container {
    max-width: 329px;
    max-height: 316px;
}
  .omnis-image {
    max-width: 329px;
    height: 316px;
  }
  .base-footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .social-media-icons {
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 320px){
  h2{
    font-size: 35px;
  }
  .image-person-one {
    max-width: 20px;
    height: 20px;
    top: 13px;
    left: 70px;
  }
  .image-person-two {
    max-width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 33px;
    right: 25px;
  }
  .temporibus-bubble-bottom {
    left: 250px;
  }
  .temporibus-bubble-left {
    left: -170px;
  }
  .omnis-image-container {
    max-width: 290px;
    max-height: 280px;
}
  .omnis-image {
    max-width: 290px;
    height: 280px;
  }
}